* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body header {
  display: flex;
  background-color: green;
  position: sticky;
  top: 0px;
  width: 100vw;
  box-sizing: border-box;
  padding: 4vh 15vw;
  /* border: 1px solid rgb(255, 255, 255); */
  color: white;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* body header hgroup {} */
/* body header nav {} */

body header nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0 10px;
}

body header nav li {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
}

body header nav li:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(19, 57, 138);
}

body header nav li a {
  text-decoration: none;
  color: inherit;
}

/* main styles */
main {
  display: flex;
  padding: 0 15vw;
  border: 1px solid rgb(0, 0, 0);
}

/* article */
article {
  /* overflow: hidden; */
  width: 80%;
  /* border: 1px solid rgb(0, 0, 0); */
}

article header {
  all: unset;
}
article header h2{
  font-size: 50px;
  margin-top: 20px;
}
article header p{
  margin-bottom: 20px;
  font-size: 16px;
}

article h3 {
  font-size: 38px;
}

article p {
  font-size: 18px;
  line-height: 1.8em;
}

article section {
  margin: 20px 0;
}

figure {
  width: 80%;
  align-content: center;
}

/* aside */
aside {
  width: 20%;
  border: 1px solid rgb(0, 0, 0);
}

/* dialog */
/* if it is in main, it will not show up on top of the body */
dialog {
  position: fixed;
  translate: -50% -50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.733);
  top: 50vh;
  left: 50vw;
}
