:root {
  --body-bg-color: rgb(255, 255, 255);
  --header-footer-color: rgb(245, 245, 245);
  --header-footer-bg-color: rgb(8, 120, 8);
  --content-side-padding: 15vw;
  --side-bar-color: rgb(232, 232, 232);
}
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--body-bg-color);
}

body > header {
  display: flex;
  color: var(--header-footer-color);
  background-color: var(--header-footer-bg-color);
  position: sticky;
  top: 0px;
  width: 100vw;
  box-sizing: border-box;
  padding: 4vh var(--content-side-padding);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

body > header ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0 10px;
}

body > header li {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 7px;
  border-radius: 5px;
}

body > header li:hover {
  cursor: pointer;
  color: rgb(86, 44, 44);
  background-color: rgb(184, 216, 27);
}

body > header a {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: inherit;
}

/* main styles */
main {
  display: flex;
  padding: 0 var(--content-side-padding);
}

/* article */
article {
  width: 80%;
  margin: 30px 0;
}

article h2 {
  font-size: 50px;
}
article p {
  margin-bottom: 20px;
  font-size: 16px;
}

article h3 {
  font-size: 28px;
}

article p {
  font-size: 18px;
  line-height: 1.8em;
}

article section {
  margin: 20px 0;
}

article > footer {
  font-size: 14px;
  line-height: 1.5em;
  width: 40%;
  background-color: aliceblue;
}

section > figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

section > figure img {
  display: flex;
  flex-direction: column;
  width: 80%;
}

section > figure figcaption {
  width: 80%;
  margin: 4px 0;
  font-style: italic;
  color: rgb(99, 99, 99);
}

section > details {
  width: 30%;
  border: 1px solid black;
  border-radius: 15px;
}

section > details summary {
  padding: 15px;
  font-size: 18px;
}

section > details p {
  font-size: 14px;
  text-align: center;
}

/* aside */
aside {
  box-sizing: border-box;
  width: 20%;
  background-color: var(--side-bar-color);
  padding: 30px;
}

aside > h3 {
  padding-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: rgb(104, 104, 104);
}

aside a:hover {
  cursor: pointer;
  color: rgb(229, 73, 73);
}

/* dialog */
/* if it is in main, it will not show up on top of the body */
dialog {
  position: fixed;
  translate: -50% -50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.733);
  top: 50vh;
  left: 50vw;
}

body > footer {
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  color: var(--header-footer-color);
  background-color: var(--header-footer-bg-color);
}
