:root {
  --body-bg-color: rgb(248, 248, 248);
  --header-footer-color: rgb(245, 245, 245);
  --header-footer-bg-color: hwb(120 4% 65%);
  --content-side-padding: 10vw;
  --side-bar-color: rgb(232, 232, 232);
  --content-color: rgb(62, 62, 62);
  --border-radius: 10px;
  --background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-natural-green-leaf-pattern-3d-rendered-raster-illustration-for-background-and-image_3731630.jpg");
  --background-image-blur: linear-gradient(rgba(0, 0, 0, 0.456));
}
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--content-color);
}

body > header {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0px;
  color: var(--header-footer-color);
  background-color: var(--header-footer-bg-color);
  background-image:
    var(--background-image-blur),
    var(--background-image);
  box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
  padding: 4vh var(--content-side-padding);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

body > header ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin: 0 20px;
}

body > header li {
  text-decoration: none;
  color: black;
  font-weight: 500;
  background-color: var(--body-bg-color);
  padding: 10px;
  border-radius: var(--border-radius);
}

body > header li:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgb(210, 210, 210);
  border: 0.5px solid var(--content-color);
}

body > header a {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: inherit;
}

/* main styles */
main {
  display: flex;
  padding: 0 var(--content-side-padding);
}
main mark {
  color: var(--body-bg-color);
  background-color: var(--header-footer-bg-color);
  padding: 0 0.2em;
  border-radius: 3px;
}

/* article */
article {
  width: 75%;
  margin: 30px 0;
}

article h2 {
  font-size: 50px;
}
article p {
  margin-bottom: 20px;
  font-size: 16px;
}

article h3 {
  font-size: 28px;
}

article p {
  font-size: 18px;
  line-height: 1.8em;
}

article section {
  margin: 20px 0;
}

article > footer {
  font-size: 14px;
  line-height: 1.5em;
  width: 40%;
  background-color: rgb(179, 209, 177);
  padding: 20px;
  border-radius: 15px;
}

section > figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

section > figure img {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
}

section > figure figcaption {
  margin: 4px 0;
  font-style: italic;
  color: rgb(99, 99, 99);
}

section > details {
  width: 30%;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

section > details summary {
  padding: 15px;
  font-size: 18px;
}

section > details p {
  font-size: 14px;
  text-align: center;
}

/* aside */
aside {
  box-sizing: border-box;
  width: 25%;
  background-color: var(--side-bar-color);
  padding: 30px;
  margin-left: 50px;
}

aside > h3 {
  padding-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: rgb(104, 104, 104);
}

aside a:hover {
  cursor: pointer;
  color: rgb(229, 73, 73);
}

/* dialog */
/* if it is in main, it will not show up on top of the body */
dialog {
  position: fixed;
  translate: -50% -50%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.733);
  top: 50vh;
  left: 50vw;
}

body > footer {
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  line-height: 1.8em;
  color: var(--header-footer-color);
  background-color: var(--header-footer-bg-color);
  background-image:
    var(--background-image-blur),
    var(--background-image);
}
