* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
  border: 3px solid black;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hgroup {
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 20px 0;
  background-color: rgb(104, 225, 225);
}
hgroup h1 {
  font-size: 60px;
}
hgroup p {
  font-size: 18px;
}

header nav {
  background-color: bisque;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
  gap: 10px;
  list-style: none;
}

header nav li {
  text-decoration: none;
  margin: 3px;
  padding: 5px;
  color: black;
  background-color: #ffc400;
  border-radius: 7px;
}

header nav li:hover {
  background-color: #ffffff;
  color: black;
}

article {
  margin: 0 10%;
}

h2 {
  font-size: 30px;
}

dialog {
  translate: -50%;
  padding: 10px;
  top: 50vh;
  left: 50vw;
}

section {
  margin: 5px;
  width: 80%;
}
section p {
  margin: 10px;
}